<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="assets/images/frisbee.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapse"
                aria-controls="navbarsCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarsCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/contact">Contact</a> -->
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <main role="main"></main>
    <div class="container">
        <div class="jumbotron">
            {{ content }}
        </div>
    </div>
    </main>

    <footer class="footer border-top mt-auto py-3">
        <div class="text-center">
            <div class="container">
                <a href="https://github.com/benfrisbie"><img src="https://img.shields.io/badge/Github-181717?style=flat&logo=Github&logoColor=white"></a>
                <a href="https://www.linkedin.com/in/ben-frisbie/"><img src="https://img.shields.io/badge/LinkedIn-0A66C2?style=flat&logo=LinkedIn&logoColor=white"></a>
                <a href="https://www.twitch.tv/bfrisbie"><img src="https://img.shields.io/badge/Twitch-9146FF?style=flat&logo=Twitch&logoColor=white"></a>
                <a href="https://www.youtube.com/channel/UCRYrVtGYLJ8lzWwERQPN0Xw"><img src="https://img.shields.io/badge/Youtube-FF0000?style=flat&logo=Youtube&logoColor=white"></a>
            </div>
        </div>
    </footer>
</body>

</html>